<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
            <typeAlias alias="RDEArchiveInfo" type="com.leidos.ode.core.data.RDEArchiveInfo" />
            <typeAlias alias="RegistrationInformation" type="com.leidos.ode.core.data.RegistrationInformation" />
            <typeAlias alias="QueueInfo" type="com.leidos.ode.core.data.QueueInfo" />
            
    </typeAliases>	
	
	<environments default="standalone">
		<environment id="standalone">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
	 			<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/ode" />
				<property name="username" value="ODESysUser" />
				<property name="password" value="Password*2" />
			  <property name="poolMaximumIdleConnections" value="50"/>
			  <property name="poolMaximumActiveConnections" value="100"/>
			  	
			</dataSource>
		</environment>
		<environment id="web">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="jdbc/DMS"/>				
			</dataSource>
		</environment>		
	</environments>

	<mappers>
		<mapper resource="RDEArchiveMapper.xml" />
		
	</mappers>
</configuration>