<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leidos.ode.RegistrationMapper">

	<resultMap id="RegInfoMapper" type="RegistrationInformation">
		<id property="id" column="ID"/>
		<result property="messageType" column="MSG_TYPE"/>
		<result property="region" column="REGION"/>
		<result property="registrationType" column="REG_TYPE"/>
		<result property="agentId" column="AGENT_ID"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="subscriptionReceiveAddress" column="SUB_RECEIVE_ADDR"/>
		<result property="subscriptionReceivePort" column="SUB_RECEIVE_PORT"/>
	</resultMap>
	

	<resultMap id="QueueInfoMapper" type="QueueInfo">
		<id property="id" column="ID"/>
		<result property="messageType" column="MSG_TYPE"/>
		<result property="region" column="REGION"/>
		<result property="queueName" column="QUEUE_NAME"/>
		<result property="queueConnectionFactory" column="QUEUE_CONN_FACT"/>
		<result property="targetAddress" column="TARGET_ADDRESS"/>
		<result property="targetPort" column="TARGET_PORT"/>
	</resultMap>


	<select id="selectAllRegistrations"  resultMap="RegInfoMapper">
		select ID, AGENT_ID, REG_TYPE, REGION, MSG_TYPE, START_DATE, END_DATE, SUB_RECEIVE_ADDR, SUB_RECEIVE_PORT
		from ODE_REGISTRATION
	</select>	

	<select id="selectRegistrationForMessage"  parameterType="String" resultMap="RegInfoMapper">
		select ID, AGENT_ID, REG_TYPE, REGION, MSG_TYPE, START_DATE, END_DATE, SUB_RECEIVE_ADDR, SUB_RECEIVE_PORT
		from ODE_REGISTRATION
		where MSG_TYPE = #{id}
	</select>	

	<select id="selectRegistrationForID"  parameterType="int" resultMap="RegInfoMapper">
		select ID, AGENT_ID, REG_TYPE, REGION, MSG_TYPE, START_DATE, END_DATE, SUB_RECEIVE_ADDR, SUB_RECEIVE_PORT
		from ODE_REGISTRATION
		where ID = #{id}
	</select>	
	
	
	<select id="selectQueueForRegistration"  parameterType="RegistrationInformation" resultMap="QueueInfoMapper">
		select ID, MSG_TYPE, REGION, QUEUE_NAME, QUEUE_CONN_FACT, TARGET_ADDRESS, TARGET_PORT
		from MSG_QUEUE
		where MSG_TYPE = #{messageType}
		and REGION = #{region}
	</select>

	<insert id="insertRegistration" parameterType="RDEArchiveInfo">
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
		insert into ODE_REGISTRATION (AGENT_ID, REG_TYPE, REGION, MSG_TYPE, START_DATE, END_DATE, SUB_RECEIVE_ADDR, SUB_RECEIVE_PORT) 
		values (#{agentId},#{registrationType},#{region},#{messageType},#{startDate},#{endDate},#{subscriptionReceiveAddress},#{subscriptionReceivePort} )
	</insert>

 
</mapper>